:root {
	--default-font: "roboto-x", sans-serif;
	--accent: hsl(6, 78%, 57%);
	--blu-light: hsl(204, 70%, 53%);
	--blu: hsl(204, 64%, 44%);
	--blu-dark: hsl(210, 29%, 24%);
	--white: hsl(192, 15%, 94%);
}
